<div class="posts">
    <h1>Posts</h1>
    <div class="all-the-posts">
        {{#each postsData}}
        <div class="posts-box">
            <a href="/posts/{{id}}">{{this.title}}</a>
            <p>{{this.description}}</p>
            {{#if ../isAdmin}}
                <a href="/posts/edit/{{id}}">Edit</a>
                <a href="/posts/delete/{{id}}">Delete</a>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>
